---
layout: default
background-class: home-page-background
body-class: homepage
display-news-banner: true
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1><img src="{{ site.baseurl }}/assets/images/logo-white.svg" width="275px" alt="PyTorch logo" /><br />开始使用</h1>

    <p class="lead">选择您的路径：在本地安装 PyTorch 或立即在支持的云平台上启动</p>

    <a href="/get-started" class="btn btn-lg with-right-arrow" data-cta="join">
      Get started
    </a>
  </div>
</div>

<div class="main-content-wrapper">

  <div class="container homepage-box-module">
    <div class="row">
      <div class="col-md">
        <h3>2024 PyTorch峰会</h3>
        <p>
          PyTorch 2024 峰会的提案征集已启动。提前注册可享受早鸟优惠。
        </p>
        <p>
          <a href="https://hubs.la/Q02sr1cw0">详情和指南</a>
        </p>
      </div>
      <div class="col-md">
        <h3>PyTorch 2.3</h3>
        <p>
          PyTorch 2.3 引入了在 torch.compile 中支持用户定义的 Triton 内核，并改进了使用原生 PyTorch 进行大语言模型(LLMs)训练的功能。
        </p>
        <p>
          <a href="/blog/pytorch2-3/">了解更多</a>
        </p>
      </div>
      <div class="col-md">
        <h3>加入会员</h3>
        <p>
          成为 PyTorch 基金会的重要一员，共同构建和塑造 AI 的未来。
        </p>
        <p>
          <a href="/join">加入</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ site.baseurl }}/get-started" class="btn btn-lg with-right-arrow module-button">
          开始使用
        </a>
      </div>
    </div>
  </div>
  <div class="container homepage-feature-module key-features-module">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>关键特性 &amp;<br />能力</h2>

            <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
              查看全部特性
            </a>
          </div>
        </div>

        <div class="row key-features-boxes">
          {% assign features = site.features | where: "featured-home", true | sort: 'order' %}

          {% for feature in features %}
          <div class="col-md-3 key-feature-box">
            <h5>{{ feature.title }}</h5>
            <p>{{ feature.summary-home }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
{% include quick_start_module.html %}

<div class="homepage-feature-module community-module container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>生态系统</h2>
        <h5>特色项目</h5>

        <a href="{{ site.baseurl }}/ecosystem" class="btn btn-lg with-right-arrow module-button">
          查看全部项目
        </a>

      </div>
      <div class="col-md-8">
        <p class="h2-subheadline">探索丰富的库、工具等生态系统来支持项目开发. </p>
      </div>
    </div>

    <div class="row ecosystem-row">
      {% assign ecosystems = site.ecosystem | where: "featured-home", true | sort: 'order' %}
      {% for item in ecosystems %}
      <div class="col-md-4">
        <div class="card ecosystem-card">
          {% if item.external %}
          <a href="{{ item.link }}" target="_blank">
            {% else %}
            <a href="{{ site.baseurl }}{{ item.url }}">
              {% endif %}
              <div class="card-body {{ item.logo-class }} {% if item.external %}external{% endif %}">
                <h4>{{ item.title }}</h4>
                <p class="card-summary">{{ item.summary-home }}</p>
              </div>
            </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="community-module" class="row">
      <div class="col-md-12 community-heading">
        <h2>社区</h2>

      </div>
      <div class="col-md-8">
        <p class="h2-subheadline">加入 PyTorch 开发者社区，进行贡献、学习，并获取问题的解答。</p>
      </div>
    </div>

    <div class="row resources">
      {% assign resources = site.resources | where: "featured-home",true | sort: 'order' %}

      {% for resource in resources %}
      {% assign card_title = resource.title | split: ' ' %}
      <div class="col-md-4">
        <div class="card resource-card {{ resource.class }}">
          <!-- Cards with the pytorch-resource class also have a pytorch-discuss class.
              These two classes along with the discuss class allow us to stylize the second word in the card header so that it features orange text.
             -->
          {% if resource.class == "pytorch-resource" %}
          {% if resource.external %}
          <a href="{{ resource.link }}" class="pytorch-discuss" target="_blank">
            {% else %}
            <a href="{{ resource.link }}" class="pytorch-discuss">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title[0] }}<span class="discuss">{{ card_title[1] }}</span></h4>
                {% else %}
                {% if resource.external %}
                <a href="{{ resource.link }}" target="_blank">
                  {% else %}
                  <a href="{{ resource.link }}">
                    {% endif %}
                    <div class="card-body">
                      <h4>{{ card_title }}</h4>
                      {% endif %}
                      <p class="card-summary">{{ resource.summary-home }}</p>
                    </div>
                  </a>
              </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- Start Load Tweets -->

<div id="twitter-widget">
  <a class="twitter-timeline" href="https://twitter.com/pytorch" data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar" data-link-color="#e44c2c" data-tweet-limit="3"
    data-border-color="#a80000" data-dnt="true">
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/load-tweets.js"></script>
<script type="text/javascript">twitter.bind();</script>

<!-- End Load Tweets -->

<!-- Load JS for pagination -->

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="news-items" display-count="1" pagination="true"
  src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script>