---
layout: default
background-class: home-page-background
body-class: homepage
display-news-banner: true
---

<div class="jumbotron jumbotron-fluid on-dark-background">
  <div class="container">
    <h1><img src="{{ site.baseurl }}/assets/images/logo-white.svg" width="275px" alt="PyTorch logo" /><br />开始使用</h1>

    <p class="lead">选择您的路径：在本地安装 PyTorch <br />或立即在云平台上试用</p>

    <a href="{{ site.baseurl }}/get-started/" class="btn btn-lg with-right-arrow" data-cta="join">
      开始使用
    </a>
  </div>
</div>


<div class="main-content-wrapper">

  <div class="container homepage-box-module">
    <div class="row">
      <div class="col-md">
        <h3>2024 PyTorch Conference</h3>
        <p>
            加入9月18日至19日的会议，聆听精彩的主题演讲并参与有趣的迷你峰会。
        </p>
        <p>
          <a href="https://events.linuxfoundation.org/pytorch-conference/?__hstc=132719121.0814033d88fb9902f0818a3a6cbc3f39.1723550238375.1723617784660.1723625179265.5&__hssc=132719121.4.1723625179265&__hsfp=359375001&_gl=1*1qhyztl*_gcl_au*NzcyODg1LjE3MjM1NTAyNDI.*_ga*MjIzNzk2MTY4LjE3MjM1NTAyMzU.*_ga_VWZ4V8CGRF*MTcyMzYyNDMxMS41LjEuMTcyMzYyNzc1OS4wLjAuMA..">
            敬请关注
          </a>
        </p>
      </div>
      <div class="col-md">
        <h3>PyTorch 2.4</h3>
        <p>
          PyTorch 2.4 增加了对 Python 3.12 的支持，包括 torch.compile、FSDP2、自定义操作 API，以及针对 AWS Graviton 和 GenAI 在 CPU 上工作负载的优化。
        </p>
        <p>
          <a href="/blog/pytorch2-4/">了解更多</a>
        </p>
      </div>
      <div class="col-md">
        <h3>会员征集</h3>
        <p>
          成为 PyTorch 基金会的重要组成部分，共同建设和塑造人工智能的未来。
        </p>
        <p>
          <a href="{{ site.baseurl }}/join/">加入</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ site.baseurl }}/get-started/" class="btn btn-lg with-right-arrow module-button">
          开始使用
        </a>
      </div>
    </div>
  </div>


  <div class="container homepage-feature-module key-features-module">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>关键特性 &amp;<br />能力</h2>

            <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
              查看全部特性
            </a>
          </div>
        </div>

        <div class="row key-features-boxes">
          {% assign features = site.features | where: "featured-home", true | sort: 'order' %}

          {% for feature in features %}
            <div class="col-md-3 key-feature-box">
              <h5>{{ feature.title }}</h5>
              <p>{{ feature.summary-home }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include quick_start_module.html %}

  <div class="homepage-feature-module community-module container-fluid">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>软件生态</h2>
          <h5>特性项目</h5>

          <a href="{{ site.baseurl }}/ecosystem" class="btn btn-lg with-right-arrow module-button">
            查看全部项目
          </a>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">探索丰富的库、工具和更多支持高效开发的生态系统。</p>
        </div>
      </div>

      <div class="row ecosystem-row">
        {% assign ecosystems = site.ecosystem | where: "featured-home", true | sort: 'order' %}
        {% for item in ecosystems %}
        <div class="col-md-4">
          <div class="card ecosystem-card">
            {% if item.external %}
              <a href="{{ item.link }}" target="_blank">
            {% else %}
              <a href="{{ site.baseurl }}{{ item.url }}">
            {% endif %}
              <div class="card-body {{ item.logo-class }} {% if item.external %}external{% endif %}">
                <h4>{{ item.title }}</h4>
                <p class="card-summary">{{ item.summary-home }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div id="community-module" class="row">
        <div class="col-md-12 community-heading">
          <h2>开发者社区</h2>

        </div>
        <div class="col-md-8">
          <p class="h2-subheadline">加入 PyTorch 开发者社区，贡献代码、学习知识，并获取问题的解答。</p>
        </div>
      </div>

      <div class="row resources">
        {% assign resources = site.resources | where: "featured-home",true | sort: 'order' %}

        {% for resource in resources %}
          {% assign card_title = resource.title | split: ' ' %}
          <div class="col-md-4">
          <div class="card resource-card {{ resource.class }}">
            <!-- Cards with the pytorch-resource class also have a pytorch-discuss class.
                These two classes along with the discuss class allow us to stylize the second word in the card header so that it features orange text.
               -->
            {% if resource.class == "pytorch-resource" %}
              {% if resource.external %}
                <a href="{{ resource.link }}" class="pytorch-discuss" target="_blank">
              {% else %}
                <a href="{{ resource.link }}" class="pytorch-discuss">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title[0] }}<span class="discuss">{{ card_title[1] }}</span></h4>
            {% else %}
              {% if resource.external %}
                <a href="{{ resource.link }}" target="_blank">
              {% else %}
                <a href="{{ resource.link }}">
              {% endif %}
              <div class="card-body">
                <h4>{{ card_title }}</h4>
            {% endif %}
                <p class="card-summary">{{ resource.summary-home }}</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>



    </div>
  </div>
</div>

  <div class="homepage-bottom-wrapper">
    <div class="homepage-feature-module pytorch-users-module container">
    <div class="row">
      <div class="col-md-12 university-testimonials">
        <h2>使用PyTorch的公司 &amp; 学校</h2>

        <!-- Temporarily hiding button since there isn't a 'Stories' page
        <a href="{{ site.baseurl }}/features" class="btn btn-lg with-right-arrow module-button">
          See all Stories
        </a> -->

        <div class="row university-testimonials-content">
          {% assign case_studies = site.case_studies | where: "featured-home", true | sort: "order" %}

          {% for case_study in case_studies %}
            <div class="col-md-4">
              <img src="{{ site.baseurl }}/{{ case_study.logo }}" class="img-fluid" width="180">
              <p>{{ case_study.excerpt }}</p>
              <a href="{{ case_study.link }}" class="btn btn-lg with-right-arrow">
                了解更多
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Start Load Tweets -->

<div id="twitter-widget">
  <a class="twitter-timeline"
    href="https://twitter.com/pytorch"
    data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar"
    data-link-color="#e44c2c"
    data-tweet-limit="3"
    data-border-color="#a80000"
    data-dnt="true">
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/load-tweets.js"></script>
<script type="text/javascript">twitter.bind();</script>

<!-- End Load Tweets -->

<!-- Load JS for pagination -->

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script list-id="news-items" display-count="1" pagination="true" src="{{ site.baseurl }}/assets/filter-hub-tags.js"></script>
