<div class="main-menu">
  <ul>
    <li class="main-menu-item">
      <div id="dropdownMenuButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="with-down-arrow">
          学习
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/get-started/">
            <span class=dropdown-title>开始使用</span>
            <p>本地运行 PyTorch 或云平台上快速试用</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.tutorialurl }}/">
            <span class="dropdown-title">教程</span>
            <p>PyTorch 最新教程</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.tutorialurl }}/beginner/basics/intro.html">
            <span class="dropdown-title">基础内容</span>
            <p>熟悉 PyTorch 的概念和模块</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.tutorialurl }}/recipes/recipes_index.html">
            <span class="dropdown-title">PyTorch 示例</span>
            <p>简洁易用的 PyTorch 代码示例</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.tutorialurl }}/beginner/introyt.html">
            <span class="dropdown-title">PyTorch 介绍 - YouTube 系列 </span>
            <p>通过我们引人入胜的 YouTube 教程系列掌握 PyTorch 基础知识</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item">
      <div id="dropdownMenuButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="with-down-arrow">
          社区生态
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/ecosystem">
            <span class="dropdown-title">工具</span>
            <p>了解 PyTorch 生态系统中的工具和框架</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/#community-module">
            <span class=dropdown-title>开发者社区</span>
            <p>加入 PyTorch 开发者社区，进行贡献、学习并获得问题的解答</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.external_urls.discuss }}" target="_blank">
            <span class=dropdown-title>论坛</span>
            <p>讨论 PyTorch 代码、问题、安装和研究的地方</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/resources">
            <span class=dropdown-title>开发者资源</span>
            <p>找到资源并获得问题的答案</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/ecosystem/contributor-awards-2023">
            <span class="dropdown-title">贡献者奖项 - 2023</span>
            <p>今年 PyTorch 大会上宣布的获奖者</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item">
      <div id="dropdownMenuButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="with-down-arrow">
          Edge 
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/edge">
            <span class="dropdown-title">PyTorch Edge</span>
            <p>为边缘设备构建创新的、注重隐私的人工智能体验</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/executorch-overview">
            <span class="dropdown-title">ExecuTorch</span>
            <p>在移动和边缘设备上实现端到端的设备内推理能力的解决方案</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item">
      <div id="docsDropdownButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="with-down-arrow">
          文档
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="https://pytorch.org/docs">
            <span class="dropdown-title">PyTorch</span>
            <p>如何使用 PyTorch 的全面指导</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/pytorch-domains">
            <span class="dropdown-title">PyTorch Domains</span>
            <p>更多关于特定领域库的信息</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item">
      <div id="dropdownMenuButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="with-down-arrow">
          新闻 & 博客
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/blog">
            <span class="dropdown-title">PyTorch 博客</span>
            <p>最新的技术新闻和动态</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/community-blog">
            <span class="dropdown-title">社区博客</span>
            <p>PyTorch 生态及相关博客</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/videos">
            <span class="dropdown-title">视频</span>
            <p>获取最新的 PyTorch 教程、新闻等</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl}}/community-stories">
            <span class="dropdown-title">社区故事</span>
            <p>了解如何使用 PyTorch 解决真实的机器学习相关问题</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/events">
            <span class=dropdown-title>活动</span>
            <p>查看活动、研讨会和播客</p>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item">
      <div id="resourcesDropdownButton" data-toggle="resources-dropdown" class="resources-dropdown">
        <a class="with-down-arrow">
          关于
        </a>
        <div class="resources-dropdown-menu">
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/foundation">
            <span class=dropdown-title>PyTorch 基金会</span>
            <p>了解更多 PyTorch 基金会内容</p>
          </a>
          <a class="nav-dropdown-item" href="{{ site.baseurl }}/governing-board">
            <span class=dropdown-title>管理委员会</span>
          </a>
        </div>
      </div>
    </li>

    <li class="main-menu-item">
      <a href="{{ site.baseurl }}/join" data-cta="join">
        成为会员
      </a>
    </li>

    <li class="main-menu-item" id="github-main-menu-link">
      <a href="{{ site.external_urls.github }}" title="Go to PyTorch GitHub">
        <div id="topnav-gh-icon"></div>
      </a>
    </li>

    <li class="navSearchWrapper reactNavSearchWrapper" key="search">
      <div class="search-border">
        <div id="search-icon"></div>
        <input
          id="search-input"
          type="text"
          title="Search"
        />
        <div id="close-search">X</div>
      </div>
    </li>
  </ul>
</div>

<script src="{{ site.baseurl }}/assets/main-menu-dropdown.js"></script>
