<div class="sticky-top get-started-locally-sidebar">
    <p id="get-started-shortcuts-menu">Shortcuts</p>
    <ul id="get-started-locally-sidebar-list">
      <li>
        <a href="#概述">概述</a>
      </li>
      <li>
        <a href="#pytorch-2x-faster-more-pythonic-and-as-dynamic-as-ever">
          PyTorch 2.x：更快，更 Python 化，并且一如既往地支持动态
        </a>
      </li>
      <li>
        <a href="#用户评价">用户评价</a>
      </li>
  
      <li>
        <a href="#动机">动机</a>
      </li>
      <li>
        <a href="#技术概述">技术概述</a>
      </li>
      <li>
        <a href="#用户体验">用户体验</a>
      </li>
  
      <li>
        <a href="#分布式">分布式</a>
      </li>
  
      <li>
        <a href="#开发者体验">开发者体验</a>
      </li>
  
      <li>
        <a href="#最终想法">最终想法</a>
      </li>
      <li>
        <a href="#accelerating-hugging-face-and-timm-models-with-pytorch-20">
          使用PyTorch 2.0加速Hugging Face和TIMM模型
        </a>
      </li>
      <li>
        <a href="#要求">要求</a>
      </li>
      <li>
        <a href="#入门指南">入门指南</a>
      </li>
      <li>
        <a href="#faqs">FAQs</a>
      </li>
      <li>
        <a href="#ask-the-engineers-20-live-qa-series">Ask The Engineers 2.0 Live Q&A Series</a>
      </li>
      <li>
        <a href="#PyTorch-Conference-相关演讲">PyTorch Conference 相关演讲</a>
      </li>
    </ul>
  </div>
  