<p>
  选择您的偏好并运行安装命令。 Stable 代表当前经过测试和支持的 PyTorch 版本，适合大多数用户。如果您想要最新的、尚未完全测试和支持的每日构建版本，
  可以选择 Preview。在安装之前，请确保您已经<b>满足下面的先决条件（例如，numpy）</b>，这取决于您的包管理器。我们推荐使用 Anaconda 作为包管理器，因为它会安装所有依赖项。
  您也可以<a href="{{ site.baseurl }}/get-started/previous-versions">安装以前版本的 PyTorch</a>。请注意，LibTorch 仅适用于 C++。
</p>

<p><b>注意:</b> 最新PyTorch版本需配套使用Python 3.8或更高版本</p>

<div class="row">
  <div class="col-md-3 headings">
    <div class="col-md-12 title-block">
      <div class="option-text">PyTorch版本</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text os-text">OS类型</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">管理工具</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">编程语言</div>
    </div>
    <div class="col-md-12 title-block">
      <div class="option-text">计算平台</div>
    </div>
    <div class="col-md-12 title-block command-block">
      <div class="option-text command-text">运行命令:</div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row ptbuild">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">PyTorch版本</div>
      </div>
      <div class="col-md-6 option block version selected" id="stable">
        <div class="option-text">Stable (1.13.0)</div>
      </div>
      <div class="col-md-6 option block version" id="preview">
        <div class="option-text">Preview (Nightly)</div>
      </div>
    </div>
    <div class="row os">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">OS类型</div>
      </div>
      <div class="col-md-4 option block" id="linux">
        <div class="option-text">Linux</div>
      </div>
      <div class="col-md-4 option block" id="macos">
        <div class="option-text">Mac</div>
      </div>
      <div class="col-md-4 option block" id="windows">
        <div class="option-text">Windows</div>
      </div>
    </div>
    <div class="row package">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">管理工具</div>
      </div>
      <div class="col-md-3 option block" id="conda">
        <div class="option-text">Conda</div>
      </div>
      <div class="col-md-3 option block selected" id="pip">
        <div class="option-text">Pip</div>
      </div>
      <div class="col-md-3 option block" id="libtorch">
        <div class="option-text">LibTorch</div>
      </div>
      <div class="col-md-3 option block" id="source">
        <div class="option-text">Source</div>
      </div>
    </div>
    <div class="row language">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">编程语言</div>
      </div>
      <div class="col-md-6 option block version selected" id="python">
        <div class="option-text">Python</div>
      </div>
      <div class="col-md-6 option block" id="cplusplus">
        <div class="option-text">C++ / Java</div>
      </div>
    </div>
    <div class="row cuda">
      <div class="col-md-12 title-block mobile-heading">
        <div class="option-text">计算平台</div>
      </div>
      <div class="col-md-2 option block version" id="cuda.x">
        <div class="option-text">CUDA 11.8</div>
      </div>
      <div class="col-md-2 option block version" id="cuda.y">
        <div class="option-text">CUDA 12.1</div>
      </div>
      <div class="col-md-2 option block version" id="cuda.z">
        <div class="option-text">CUDA 12.4</div>
      </div>
      <div class="col-md-3 option block version" id="rocm5.x">
        <div class="option-text">ROCm 5.2</div>
      </div>
      <div class="col-md-3 option block version" id="accnone">
        <div class="option-text">CPU</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title-block command-mobile-heading">
        <div class="option-text">运行命令:</div>
      </div>
      <div class="command-container">
        <div class="col-md-12" id="command">conda install pytorch torchvision -c pytorch</div>
      </div>
    </div>
  </div>
</div>
<br>
